@use '../helpers' as *;

.button {
    display: inline-flex;
    justify-content: center;
    padding: rem(9) rem(12);
    font-size: rem(18);
    color: var(--color-light);
    white-space: nowrap;
    background-color: var(--color-accent);
    border: 1px solid var(--color-light);
    border-radius: 5rem;
    

    @include laptop {
        padding: rem(7) rem(10);
        font-size: rem(14);  
    }

    @include hover {
        color: var(--color-accent);
        background-color: var(--color-light);
        border: 1px solid var(--color-accent);       
    }
}