@use '../helpers' as *;

.footer {
    padding-left: rem(32);
    background-color: var(--color-accent);
    color: var(--color-light-1);
    font-size: rem(13);
    font-weight: 300;

    h3, h4 {
        color: var(--color-light);
    }

    &__top {
        
        .container {
            display: flex;
            gap: rem(60);
        }
    }

    &__menu {
        margin-top: rem(5);

        &-list {
            a {
                text-decoration: none;
                color: var(--color-light-1);
            }
        }
    }

    &__bottom {

        padding: rem(20) rem(10);

        .container {
            display: flex;
            justify-content: space-between;
        }

        &-line {
            width: 100%;
            height: rem(1);
            margin: rem(10) auto;
            background-color: var(--color-light-1);
            opacity: 0.5;
        }        
    }

    &__policy {
        
        a {
            color: var(--color-light-1);
            text-decoration: none;
            margin-left: rem(10);

            &:hover {
                color: var(--color-light);
            }
        }        
    }
}