@use '../helpers/' as *;

.header {
    &__promo {
        background-color: var(--color-accent);
        padding-block: rem(10);
        text-align: center;
    }

    &__promo-link {
        color: var(--color-light);
        &:hover {
            color: var(--color-light);
        }
    }

    &__body {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: rem(66);
        background-color: var(--color-light);
        box-shadow: 0 rem(2) rem(20) rgba(0, 0, 0, 0.15);
        z-index: 1000;

        @include mobile {
            padding-block: rem(20);
        }
        
        &-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 1rem;
        }
    }

    &__overlay {
        @include mobile-above {
            display: contents;
        }

        @include mobile {
            position: fixed;
            inset: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 3rem;
            padding: 1rem;
            background-color: var(--color-accent);
            transition-duration: var(--transition-duration);

            &:not(.is-active) {
                @include hide;

                translate: 100%;
            }
        }
    }

    &__menu {
        @include mobile {
            overflow-y: auto;
        }        

        &-list {
            display: flex;
            align-items: center;
            column-gap: rem(16);
        }

        &-link {
            padding: rem(14) rem(24);
            font-weight: normal;
            color: var(--color-gray);

            &.is-active {
                color: var(--color-dark);
            }
        }
    }

    &__bottom {
        &-line {
            width: 100%;
            height: rem(1);
            margin: 0 auto;
            background-color: var(--color-gray);
        }
    }
}